.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
  &-logo {
    margin-right: 180px;
  }
  &-auth {
    margin-left: auto;
  }
  &-menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &-menu.is-active {
    transform: translateX(0px);
  }

  &-menu-link {
    color: $gray-dark;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: $primary-color;
    }
  }
  @media screen and (min-width: 1024px) {
    &-menu-item:not(:first-child) {
      margin-left: 75px;
    }
    .menu-toggle {
      display: none;
    }
  }
}
.menu-toggle {
  font-size: 30px;
  margin-left: 20px;
  color: $primary-color;
}

.over-play {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
  display: none;
}

.check:checked ~.over-play {
  display: block;
}

.check:checked ~.header-menu {
  transform: translateX(0px);
}

@media screen and (max-width: 1279px) {
  .header {
    &-logo {
      margin-right: 0px;
    }
    &-menu {
      margin: 0 auto;
    }
    &-auth {
      margin-left: auto;
    }
  }

}

@media screen and (max-width: 1023px) {
  .header {
    padding-top: 20px;
    
    &-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 90%;
      max-width: 300px;
      background-color: white;
      flex-direction: column;
      z-index: 999;
      border-left: 1px solid #eee;
      padding: 50px 15px;
      display: block;
      transform: translateX(100%);
      transition: transform .25s linear;
      &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        color: $primary-color;
      }
      &-link {
        display: block;
        padding: 20px;
        border-radius: 6px;
        &:hover {
          color: white;
          background-color: $primary-color;
        }
      }
    }
    &-auth {
      margin-left: auto;
    }
    &-logo-image {
      max-width: 90px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .hide-pc {
    display: none;
  }
}


